.container{
    max-width: 1700px;
}

@media (max-width: 991px) {
    .col-md-9 {
        padding-right: 0;
        width: 100%;
    }

    .aside {
        display: none;
    }

    .article .thumb {
        width: 250px !important;
        height: 200px !important;
    }
}

@media (max-width: 690px) {
    .article .thumb {
        display: none;
    }
}

@media (max-width: 800px) {
    .new-header {
        height: 150px !important;
    }
}

body {
    background-color: #06212e;
    font-family: Verdana, Arial, Tahoma, Serif;
}

.new-header {
    background-image: url("img/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 25px 25px 0px 0px;
    margin-top: 5px;
    box-shadow: 1px 1px 5px black;
}

.nav {
    background-color: #071116;
    height: 40px;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 1px 5px black;
}

.nav-block {
    width: 650px;
    margin: auto;
}

.nav .list-inline-item {
    margin-right: 18px;
    margin-left: 18px;
}

.nav a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    padding: 0;
    font-size: 1.1em;
}

.nav a:hover {
    color: #e13e1e;
    text-decoration: underline;
}

.nav a:active {
    color: #f8a061;
}

.article h2 {
    background-color: #0d3e57;
    height: 40px;
    color: aliceblue;
    border-radius: 6px 6px 0px 0px;
    padding-left: 35px;
    padding-top: 6px;
    height: 50px;
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-weight: bolder;
}

.aside h2 {
    color: #cfcbc5;
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-weight: bolder;
    border-bottom: 3px solid #e13e1e;
    width: 200px;
    margin: 10px 0px 0px 30px;
    padding-left: 20px;
    font-size: 1.6em;
}

.article .thumb {
    margin: 15px 15px 0px 8px;
    float: right;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.article p {
    font-size: 1.2em;
    padding:10px 15px 10px 20px;
}

.aside p {
    font-size: 1.1em;
    padding: 7px 10px 0px 20px;
    line-height: 1.6em;
}

.article, .aside {
    box-sizing: border-box;
    background-color: #03141d;
    color: #cfcbc5;
    margin-top: 20px;
    border-radius: 10px;
    border: #0d3e57 solid;
    box-shadow: 1px 1px 5px black;
}

.col-md-3 {
    padding:0;
}

.col-md-9 {
    padding-left:0;
}