{% extends "layout.html" %}

{% block body %}

<div class="create-article clearfix">

  <form action="/create" method="POST" enctype="multipart/form-data">

    <div class="title-field">
      <label for="title" class="title-label">Titre : </label>
      <input type="text" required name="title" class="title-input" maxlength="100">
    </div>

    <div class="file-upload">
      <div id="img-preview"></div>
      <label for="thumb" class="file-label">Choisir Miniature</label>
      <input type="file" accept="image/*" required name="thumb" id="thumb" class="file-input">
    </div>

    <div class="category-field">
      <label for="category" class="categories-label">Catégorie :</label>
      <select name="category" class="categories-input">
        {% for category in categories %}
          {% if category == "Divers" %}
            <option selected value="{{ category }}">{{ category }}</option>
          {% else %}
            <option value="{{ category }}">{{ category }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }} posted">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="text-input">
      <textarea name="text" required placeholder="Commencez à écrire !">
      </textarea>
    </div>

    <div class="finalize">
      <label for="date">Date : </label>
      <input type="date" id="calendar" required name="date">

      <div class="finalize-buttons">
        <input type="submit" value="Enregistrer" name="submit_button">
        <input type="submit" value="Programmer" name="submit_button">
        <input type="submit" value="Poster" name="submit_button">
      </div>
    </div>

  </form>
  
</div>


<script src="{{ url_for('static', filename='script.js')}}"></script>

{% endblock %}