{% extends "layout.html" %}

{% block body %}

<div class="create-article clearfix">

  <form action="/create" method="POST" enctype="multipart/form-data">

    <label for="title" class="title-label">Titre : </label>
    <input type="text" name="title" class="title-input">

    <div class="file-upload">
      <label for="thumb" class="file-label">Miniature : </label>
      <input type="file" name="thumb" class="file-input">
    </div>

    <div class="text-input">
      <textarea name="text" placeholder="Commencez à écrire !">
      </textarea>
    </div>

    <div class="finalize">
      <label for="date">Date : </label>
      <input type="date" name="date">

      <div class="finalize-buttons">
        <input type="submit" value="Enregistrer" name="submit_button">
        <input type="submit" value="Poster" name="submit_button">
      </div>
    </div>

  </form>
  
</div>


<script>
tinymce.init({
  selector: 'textarea',
  plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists link checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
  toolbar: 'casechange checklist code export table tableofcontents h2 h3 underline italic bold link',
  toolbar_mode: 'floating',
  tinycomments_mode: 'embedded',
  tinycomments_author: 'Author name',
  skin_url: "/static/styles/skins/ui/custom-dark",
  content_css: "/static/styles/skins/content/custom-dark/content.css",
  });
</script>

{% endblock %}