{% extends "layout.html" %}

{% block body %}

<div class="create-article clearfix">

  <form action="/edit_article" method="POST" enctype="multipart/form-data">

    <div class="title-field">
      <label for="title" class="title-label">Titre : </label>
      <input type="text" required name="title" class="title-input" maxlength="100" value="{{ article.title }}">
    </div>

    <div class="file-upload">
      <img src="{{ article.img }}" id="img-preview-edit" alt="thumbnail">
      <div id="img-preview"></div>
      <label for="thumb" class="file-label">Choisir Miniature</label>
      <input type="file" accept="image/*" name="thumb" id="thumb" class="file-input">
    </div>

    <div class="category-field">
      <label for="category" class="categories-label">Catégorie :</label>
      <select name="category" class="categories-input">
        {% for category in categories %}
          {% if category == article.category %}
            <option selected value="{{ category }}">{{ category }}</option>
          {% else %}
            <option value="{{ category }}">{{ category }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }} posted">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="text-input">
      <textarea class="editor" name="text" required>
        {{ article.text }}
      </textarea>
    </div>

    <div class="finalize">
      
      <label class="label-date" for="date">Date : </label>
      <input class="input-date" type="datetime-local" required name="date" value="{{ article.date }}">
      
      <div class="finalize-buttons">
        <input class="submit-button" type="submit" value="Enregistrer" name="submit_button">
        <input class="submit-button" type="submit" value="Programmer" name="submit_button">
        <input class="submit-button" type="submit" value="Poster" name="submit_button">
        <input class="submit-button" type="hidden" value="{{ article.id }}" name="id">
      </div>
    </div>
  </form>
  <a href="/delete_article?id={{ article.id }}" onclick="return confirm('Supprimer l\'article\'?')" class="delete-button">Supprimer</a>
  
  
</div>

{% endblock %}