{% extends "layout.html" %}

{% block body %}

<div class="row">

    <div class="col-md-9">

        {% for article in articles %}
        <div class="article">
            
            <div class="article-header">
                <h2>
                    <a href="/article?id={{ article.id }}#begin">{{ article.title }}</a>
                    {% if session.user != None%}
                        <a class="edit-button" href="/edit_article?id={{ article.id }}">Editer</a>
                    {% endif %}
                </h2>
                <p>Posté par {{ article.author }} le {{ article.date.strftime('%d/%m/%Y') }}</p>
            </div>
            
            <img src="{{ article.img }}" class="thumb">
            
            <div class="text">
                {{ Markup(article.text)|truncate(1060) }} <span class="read-more"><a href="/article?id={{ article.id }}#begin">Lire plus</a></span>
            </div>
            
        </div>
        {% endfor %}

        
    </div>
    <div class="col-md-3">

        <form class="index-search" action="/">
            <input type="text" name="q" class="keywords-input keywords-index" placeholder="Mots-clés" value="{{ q }}">
            <input type="submit" value="Rechercher">
        </form>

        <div class="aside">
            <h2>Citation</h2>
            <p class="quote-block">
                <span class="quote-text">{{ Markup(quote.text) }}</span>
                {% if quote.author %}
                    <p class="quote-author">{{ quote.author }}</p>
                {% endif %}
            </p>
        </div>
        <div class="aside">
            <h2>Titre</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia laboriosam distinctio eum libero, eius, iure tempore quae odit cupiditate, id animi sint inventore voluptate alias asperiores porro. Dolorum, excepturi architecto!</p>
        </div>
            
    </div>
</div>

<div class="pages">
    
    <!-- If the total nb of pages isn't superior to the page buttons displayed, no need to show this -->
    {% if page_selected > start_butt and displayed < total|length %}
        <a href="/?page={{ total[0] }}&q={{ q }}" class="page-buttons">{{ total[0] }}</a>
            {% if page_selected > start_butt + 1 %}    
                <span>...</span>
            {% endif %}
    {% endif %}

    <!-- Show the buttons for each page passed by the application.py -->
    {% for page in pages %}
        {% if page == page_selected %}
            <a href="/?page={{ page }}&q={{ q }}" class="page-buttons-selected">{{ page }}</a>
        {% else %}
            <a href="/?page={{ page }}&q={{ q }}" class="page-buttons">{{ page }}</a>
        {% endif %}
    {% endfor %}

    <!-- If the total nb of pages isn't superior to the page buttons displayed, no need to show this -->
    {% if page_selected < total|length - end_butt and displayed < total|length %}
        {% if page_selected < total|length - (end_butt +1) %}    
            <span>...</span>
        {% endif %}
        <a href="/?page={{ total[-1] }}&q={{ q }}" class="page-buttons">{{ total[-1] }}</a>
    {% endif %}

</div>

{% endblock %}