{% extends "layout.html" %}

{% block body %}

<div class="row">

    <div class="col-md-9">
        <div class="article">
            <h2>Titre</h2>
            <img src="static/img/fuji.jpg" alt="fuji" class="thumb">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae at quidem corporis natus quisquam quo vero dicta odio! Quidem ipsam ut omnis totam iure at, ex nobis incidunt illum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae at quidem corporis natus quisquam quo verdicta odio! Quidem ipsam ut omnis totam iure at, ex nobis incidunt illum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae at quidem corporis natus quisquam quo vero dicta odio! Quidem ipsam ut omnis totam iure at, ex nobis incidunt illum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae at quidem corporis natus quisquam quo verdicta odio! Quidem ipsam ut omnis totam iure at, ex nobis incidunt illum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae at quidem corporis natus quisquam quo vero dicta odio! Quidem ipsam ut omnis totam iure at, ex nobis incidunt illum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae at quidem corporis natus quisquam quo verdicta odio! Quidem ipsam ut omnis totam iure at, ex nobis incidunt illum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae at quidem corporis natus quisquam quo vero dicta odio! Quidem ipsam ut omnis totam iure at, ex nobis incidunt illum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae at quidem corporis natus quisquam quo verdicta odio! Quidem ipsam ut omnis totam iure at, ex nobis incidunt illum.</p>
        </div>
        <div class="article">
            <h2>Titre</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae at quidem corporis natus quisquam quo vero dicta odio! Quidem ipsam ut omnis totam iure at, ex nobis incidunt illum.</p>
        </div>
        <div class="article">
            <h2>Titre</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae at quidem corporis natus quisquam quo vero dicta odio! Quidem ipsam ut omnis totam iure at, ex nobis incidunt illum.</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="aside">
            <h2>Titre</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia laboriosam distinctio eum libero, eius, iure tempore quae odit cupiditate, id animi sint inventore voluptate alias asperiores porro. Dolorum, excepturi architecto!</p>
        </div>
        <div class="aside">
            <h2>Titre</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia laboriosam distinctio eum libero, eius, iure tempore quae odit cupiditate, id animi sint inventore voluptate alias asperiores porro. Dolorum, excepturi architecto!</p>
        </div>
    </div>
</div>

{% endblock %}