{% extends "layout.html" %}

{% block body %}

<div class="row">

    <div class="col-md-9">

        {% for article in articles %}
        <div class="article">
            
            <div class="article-header">
                <h2>{{ article.title }}</h2>
                <p>Posté par {{ article.author }} le {{ article.date.strftime('%d/%m/%Y') }}</p>
            </div>
            
            <img src="{{ article.img }}" class="thumb">
            
            <div class="text">
                {{ Markup(article.text) }}
            </div>
            
        </div>
        {% endfor %}

        
    </div>
    <div class="col-md-3">
        <div class="aside">
            <h2>Titre</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia laboriosam distinctio eum libero, eius, iure tempore quae odit cupiditate, id animi sint inventore voluptate alias asperiores porro. Dolorum, excepturi architecto!</p>
        </div>
        <div class="aside">
            <h2>Titre</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia laboriosam distinctio eum libero, eius, iure tempore quae odit cupiditate, id animi sint inventore voluptate alias asperiores porro. Dolorum, excepturi architecto!</p>
        </div>
            
    </div>
</div>

{% endblock %}