<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cool Morning</title>

    <script src="https://cdn.tiny.cloud/1/p2xg1u6v9g881nz517hwelxil9r2l10u68wc0g5itmbsljaf/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    
    <link href="{{ url_for('static', filename='styles/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/custom.css')}}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/7673cc062c.js" crossorigin="anonymous"></script>

  </head>
  <body>


    <div class="container">

        <div onclick="location.href='/';" class="p-5 new-header"></div>

        <ul class="list-inline nav">
            <div class="nav-block">
                <li class="list-inline-item"><a href="#">Developpement personnel
                </a></li><li class="list-inline-item"><a href="#">Hi-tech
                </a></li><li class="list-inline-item"><a href="#">Voyages
                </a></li><li class="list-inline-item"><a href="#">Divers
                </a></li>
            </div>
        </ul>
            
        <div class="container">

            {% block body %}{% endblock %}
            
        </div>

        <div class="container">
            {% if session.user == None %}
              <footer>Copyright &copy; 2022 Cool Morning - <a href="/login">Se connecter</a></footer>
            {% else %}
              <footer>Copyright &copy; 2022 Cool Morning - <a href="/admin">Admin</a> - <a href="/logout">Se déconnecter</a></footer>
            {% endif %}
        </div>
        
    </div>

    <div class="toggle">
      <input type="checkbox" class="checkbox" name="theme" id="checkbox">
      <label for="checkbox" class="label">
        <i class="fas fa-sun"></i>
        <i class="fas fa-moon"></i>
        <div class='ball'>
      </label>
    </div>


    
    <script>

      var elements = ["article", "aside", "edit-article", "aside-h2", "article-header", "aside-header", "h3"];
      const checkbox = document.getElementById('checkbox');

      window.addEventListener("load", ()=>{

        if (localStorage.getItem("theme") == "light") {

          document.body.classList.add("light");
          checkbox.checked = true;
          console.log(10)

          for(var i = 0; i < elements.length; i++) {
            elem = document.getElementsByClassName(elements[i]);
            for(var j = 0; j < elem.length; j++) {
              elem[j].classList.add("light");
            }
          }
        }
      })


      checkbox.addEventListener("change", ()=>{

        if (event.currentTarget.checked) {
          document.body.classList.add("light");

          for(var i = 0; i < elements.length; i++) {
            elem = document.getElementsByClassName(elements[i]);
            for(var j = 0; j < elem.length; j++) {
              elem[j].classList.add("light");
            }
          }

          localStorage.setItem("theme", "light");

        }

        else {
          document.body.classList.remove("light");

          for(var i = 0; i < elements.length; i++) {
          elem = document.getElementsByClassName(elements[i])
          
            for(var j = 0; j < elem.length; j++) {
              elem[j].classList.remove("light");
            }
          }

          localStorage.setItem("theme", "dark");

        }
      }) 

    </script>


    <script src="{{ url_for('static', filename='styles/bootstrap.min.js')}}" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
