{% extends "layout.html" %}

{% block body %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div class="lookup">
            <form action="/list_edit" method="POST">
                <label for="status" class="categories-label">Articles :</label>
                <select name="status" class="status-input">
                    {% for status, display in zip(["all", "posted", "archived", "scheduled"], ["Tous", "Publiés", "Archivés", "Programmés"]) %}
                        {% if status == session["lookup_status"] %}
                            <option selected value="{{ status }}">{{ display }}</option>
                        {% else %}
                            <option value="{{ status }}">{{ display }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="keywords">Mots-clés :</label>
                <input type="text" name="keywords" class="keywords-input" value="{{ session['lookup_keywords'] }}">

                <input type="submit" value="OK" name="submit_button">
            </form>
        </div>

        {% for article in articles %}
        <div class="edit-article">
            
            <div class="article-header">
                <h2>
                    <a href="/article?id={{ article.id }}#begin">{{ article.title }}</a>
                    <a class="edit-button" href="/edit_article?id={{ article.id }}">Editer</a>
                </h2>
                {% if article.posted %}
                    <p class="status">Posté</p>
                    <p>Posté par {{ article.author }} le {{ article.date.strftime('%d/%m/%Y') }}</p>
                {% elif article.posted == False and article.scheduled == False %}
                    <p class="status">Archivé</p>
                    <p>Enregistré par {{ article.author }} le {{ article.date.strftime('%d/%m/%Y') }}</p>
                {% else %}
                    <p class="status">Programmé</p>
                    <p>Programmé par {{ article.author }} pour le {{ article.date.strftime('%d/%m/%Y') }}</p>
                {% endif %}
            </div>
            
            <div class="text">
                {{ Markup(article.text)|truncate(500) }} <span class="read-more"><a href="/article?id={{ article.id }}#begin">Lire plus</a></span>
            </div>
            
        </div>
        {% endfor %}

        
    </div>
    <div class="col-md-2"></div>
</div>

<div class="pages">
    
    <!-- If the total nb of pages isn't superior to the page buttons displayed, no need to show this -->
    {% if page_selected > start_butt and displayed < total|length %}
        <a href="/list_edit?page={{ total[0] }}" class="page-buttons">{{ total[0] }}</a>
            {% if page_selected > start_butt + 1 %}    
                <span>...</span>
            {% endif %}
    {% endif %}

    <!-- Show the buttons for each page passed by the application.py -->
    {% for page in pages %}
        {% if page == page_selected %}
            <a href="/list_edit?page={{ page }}" class="page-buttons-selected">{{ page }}</a>
        {% else %}
            <a href="/list_edit?page={{ page }}" class="page-buttons">{{ page }}</a>
        {% endif %}
    {% endfor %}

    <!-- If the total nb of pages isn't superior to the page buttons displayed, no need to show this -->
    {% if page_selected < total|length - end_butt and displayed < total|length %}
        {% if page_selected < total|length - (end_butt +1) %}    
            <span>...</span>
        {% endif %}
        <a href="/list_edit?page={{ total[-1] }}" class="page-buttons">{{ total[-1] }}</a>
    {% endif %}

</div>

{% endblock %}