{% extends "layout.html " %}

{% block body %}

<div class="admin clearfix">
    <form action="/password" method="post">
        <div class="change-password password">
            <label for="identifier" class="password-label">Ancien mot de passe :</label>
            <input type="password" required class="password-input" placeholder="Ancien mot de passe" name="old_password">
        </div>
        
        <div class="change-password password">
            <label for="password" class="password-label">Nouveau mot de passe :</label>
            <input type="password" required class="password-input" placeholder="Nouveau mot de passe" name="new_password">
        </div>
        
        <div class="login-button">
            <input type="submit" value="Valider">
        </div>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
</div>

{% endblock %}